@import "/vendor/bootstrap/less/bootstrap.less";
@import "/vendor/font-awesome/less/font-awesome.less";
@import "/vendor/bricksui/assets/style/all.less";
//@import "/vendor/bootstrap3-datetimepicker/src/less/bootstrap-datetimepicker";

@import (inline) "AdminLTE.css";
@icon-font-path: "fonts/";
@fa-font-path: "fonts/";

@body-top-margin:         50px;

.header a {
  text-decoration: none;
}