<ul class="nav nav-pills bottom-border">
    {{#link-to "form.complex" tagName="li"}}<a href="#">综合示例</a>{{/link-to}}
    {{#link-to 'form.tree' tagName="li"}}<a href="#">树组件</a>{{/link-to}}
    {{#link-to "form.datepicker" tagName="li"}}<a href="#">日历组件</a>{{/link-to}}
    {{#link-to "form.daterange" tagName="li"}}<a href="#">时间区间组件</a>{{/link-to}}
    {{#link-to "form.rich-text" tagName="li"}}<a href="#">富文本编辑器</a>{{/link-to}}
    {{#link-to "form.alert" tagName="li"}}<a href="#">消息(buAlert)组件</a>{{/link-to}}
    {{#link-to "form.tab" tagName="li"}}<a href="#">tab组件</a>{{/link-to}}
    {{#link-to "form.modal" tagName="li"}}<a href="#">Modal组件</a>{{/link-to}}
    {{#link-to "form.pagination" tagName="li"}}<a href="#">分页(buPagination)组件</a>{{/link-to}}
    {{#link-to "form.notice" tagName="li"}}<a href="#">通知组件</a>{{/link-to}}
    {{#link-to "form.wizard" tagName="li"}}<a href="#">向导组件</a>{{/link-to}}
</ul>
<section class="content">
    {{outlet}}
</section>